aiohttp==3.6.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.2.0
beautifulsoup4==4.9.2
certifi==2020.6.20
chardet==3.0.4
cleancc==0.1.0
cycler==0.10.0
DecryptLogin==0.1.33
et-xmlfile==1.0.1
future==0.18.2
idna==2.10
jdcal==1.4.1
kiwisolver==1.2.0
line-bot-sdk==1.17.0
lxml==4.5.2
matplotlib==3.3.2
multidict==4.7.6
numpy==1.19.2
openpyxl==3.0.5
Pillow==7.2.0
progressbar2==3.53.1
pyasn1==0.4.8
pycryptodome==3.9.8
PyExecJS==1.5.1
PyMySQL==0.10.1
pyparsing==2.4.7
pyperclip==1.8.0
python-dateutil==2.8.1
python-docx==0.8.10
python-utils==2.4.0
qrcode==6.1
requests==2.24.0
requests-toolbelt==0.9.1
rsa==4.6
simple-crawl==0.0.9
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.10
yarl==1.6.0
